<div class="min-vh100">
  <table class="table mb-3">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Naam</th>
        <th scope="col">Installatie datum</th>
        <th scope="col">Is in onderhoud</th>
        <th scope="col">Netwerkadres</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices">
        <td>{{ device.id }}</td>

        <td>
          <a
            [title]="device.name + ' details'"
            [routerLink]="['/devices', device.id]"
          >
            {{ device.name }}
          </a>
        </td>
        <td>{{ device.installationDate?.toLocaleDateString("nl-NL") }}</td>
        <td>{{ device.inMaintenance }}</td>
        <td>{{ device.networkAddress }}</td>
        <td>
          <a [routerLink]="[device.id, 'edit']">
            <img src="../../assets/images/edit-icon.svg"
          /></a>
        </td>
        <td>
          <a routerLink="/home">
            <img src="../../assets/images/delete-icon.svg" />
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <a
    [routerLink]="['/devices/create']"
    class="btn btn-primary btn-primary-color"
  >
    Device aanmaken
  </a>
</div>
