<div>
  <h1>Facility formulier</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" id="deviceForm" class="m-2">
    <div class="row py-2">
      <div class="col">
        <label for="name" class="form-label">Naam</label>
        <input formControlName="name" type="text" class="form-control py-2" />
      </div>
    </div>
    <div class="row py-2">
      <div class="col">
        <label for="street" class="form-label">Straat</label>
        <input formControlName="street" type="text" class="form-control py-2" />
      </div>
      <div class="col">
        <label for="houseNumber" class="form-label">Huisnummer</label>
        <input
          formControlName="houseNumber"
          type="number"
          class="form-control py-2"
        />
      </div>
      <div class="col">
        <label for="city" class="form-label">Stad</label>
        <input formControlName="city" type="text" class="form-control py-2" />
      </div>
    </div>
    <div class="py-2">
      <label for="description" class="form-label">Beschrijving</label>
      <textarea
        formControlName="description"
        form="deviceForm"
        for="description"
        class="form-control"
        placeholder="Algemene beschrijving van device "
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-primary-color mt-3">
      Indienen
    </button>
  </form>
</div>
