<div *ngIf="device">
  <h1>{{ device.name }}</h1>
  <h2>Details</h2>
  <table style="width: 30%" class="table table-sm">
    <tr>
      <th scope="col">Id</th>
      <td>{{ device.id }}</td>
    </tr>
    <tr>
      <th scope="col">Processorsnelheid (MHz)</th>
      <td>{{ device.mhz }}</td>
    </tr>
    <tr>
      <th scope="col">Installatiedatum</th>
      <td>{{ device.installationDate | date : "mediumDate" : "NL" }}</td>
    </tr>
    <tr>
      <th scope="col">Is in onderhoud</th>
      <td>{{ device.inMaintenance }}</td>
    </tr>
    <tr>
      <th scope="col">Netwerkadres</th>
      <td>{{ device.networkAddress }}</td>
    </tr>
  </table>
  <div>
    <h2>Beschrijving</h2>
    <p>
      {{ device.description }}
    </p>
  </div>
</div>
