<div class="row min-vh-100">
  <div class="col-6">
    <article>
      <h1>Welkom bij IoT-Land!</h1>
      <h2>Start</h2>
      <p>
        Uw dagelijkse portaal voor IoT-management staat zoals altijd weer klaar
        voor u! Ga naar navigatiemenu "management" om verder te gaan met uw
        zaken.
      </p>
      <p>
        Direct naar het aanmaakscherm voor een nieuw device? Klik op de
        onderstaande button
      </p>
      <a class="btn btn-primary btn-primary-color mb-5">Device aanmaken</a>
      <h2>Voor het eerst?</h2>
      <p>Kom meer te weten over IoT-land op de about pagina!</p>
      <a class="btn btn-primary btn-primary-color">Kom meer te weten</a>
    </article>
  </div>
  <div class="col-6 justify-content-center d-flex">
    <img
      src="assets/images/site-logo.png"
      alt="IoT-Land homepage"
      height="400px"
      class="mx-auto"
    />
  </div>
</div>
